*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.slider {
  width: 60rem;
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.slider i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  font-size: 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.slider i.prev {
  left: 2rem;
}

.slider i.next {
  right: 2rem;
}

.slider i:hover {
  color: #000;
}

.slider .dots-container {
  position: absolute;
  bottom: 2rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider .dots-container .dot {
  width: 1rem;
  height: 1rem;
  background-color: #000;
  display: inline-block;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider .dots-container .dot--active {
  background-color: orangered;
}
